:root {
  --background-light: #fff;
  --background-dark: #354150;
  --background-dark-div: #555050;
  --background-body: grey;
  --font-color-dark: #000;
  --font-color-light: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s ease;
}

body {
  background-color: var(--background-body);
}

.header {
  max-width: 1024px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: end;
  align-items: end;
  background-color: var(--background-light);
}

.theme-changer-label {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.theme-changer-label .svg-moon {
  width: 30px;
  stroke: #000;
}

.theme-changer-label:hover .svg-moon {
  stroke: #9c9c83;
}

.theme-changer-label .svg-sun {
  width: 30px;
  stroke: #fff;
}

.theme-changer-label:hover .svg-sun {
  stroke: yellow;
}

.svg-none-display {
  display: none;
}

#theme-changer-input {
  display: none;
}

.main {
  max-width: 1024px;
  height: 100%;
  padding: 15px;
  background-color: var(--background-light);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.block {
  max-width: 800px;
  width: 100%;
  background-color: #D9D9D9;
  text-align: center;
  border-radius: 12px;
  line-height: 40px;  
}

.h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 70px;
  text-transform: uppercase;
}

.main-task {
  margin-bottom: 30px;
}

.task-sentence {
  margin-bottom: 70px;
}

.sub-task {
  margin-bottom: 31px;
}

.words-field {
  width: 100%;
  min-height: 40px;
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 45px;
  row-gap: 15px;
  margin-bottom: 20px;
}

.word {
  height: 40px;
  padding: 0 15px;
  background-color: #D9D9D9;
  text-align: center;
  border-radius: 12px;
  line-height: 40px;
  cursor: pointer;
}

.input-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

#input {
  position: relative;
  width: 100%;
  background-color: #D9D9D9;
  text-align: center;
  border-radius: 12px;
  line-height: 40px;  
  margin-bottom: 50px;
  padding: 0 16px;
  border: none;
  text-align: left;
}

#input:focus {
  outline: none;
}

.reset-btn {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
  stroke: #0C0C0E;
  cursor: pointer;
}

.reset-btn:hover {
  stroke: #9c9c83;
}

.result {
  height: 40px;
  margin-bottom: 50px;
  font-size: 20px;
  background: transparent;
}

.result span {
  font-size: 22px;
  font-weight: 600;
  color: blue;
}

.btn-block {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  width: 100%;
  gap: 10px;
  margin-bottom: 80px;
}

#start-btn,
#check-btn {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  text-transform: uppercase;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

#start-btn {
  background-color: #B8F869;
}

.dark-theme #start-btn {
  background-color: #242f48;
  color: var(--font-color-light)
}

#start-btn:hover {
  color: #fff;
  background-color: #509A46;
}

.dark-theme #start-btn:hover {
  color: #fff;
  background-color: #46829a;
}

#start-btn:active {
  background-color: #284824;
}

.dark-theme #start-btn:active {
  color: var(--font-color-dark);
  background-color: #69dbf8;
}

#check-btn {
  background-color: #F2D29E;
}

.dark-theme #check-btn {
  color: var(--font-color-light);
  background-color: #5E4A2A;
}

#check-btn:hover {
  color: #fff;
  background-color: #BA9558;
}

#check-btn:active {
  background-color: #5E4A2A;
}

.dark-theme #check-btn:active {
  color: var(--font-color-dark);
  background-color: #F2D29E;
}

.footer {
  max-width: 1024px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-light);
}

.dark-theme .p-copyright {
  background-color: transparent;
}

.github-link {
  display: flex;
  align-items: center;
}

.github-icon {
  width: 30px;
  height: 30px;
  fill: #24292f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-theme .github-icon {
  fill: #fff;
}

.github-icon:hover {
  fill: #9c9c83;
}

.dark-theme {
  background-color: var(--background-dark);
  color: var(--font-color-light);
}

.dark-theme p {
  background-color: var(--background-dark-div);
}

.dark-theme .result {
  background-color: transparent;
}

@media (max-width: 768px) {
  /* .btn-block {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
  } */
}

